apiVersion: apps/v1
kind: Deployment
metadata: 
  name: mongodb
spec: 
  selector:
    matchLabels:
    app: mongodb 
  replicas: 1 
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:3.6.5-jessie
        ports:
          - containerPort: 27017
        volumeMounts: 
         - name: mongo-persistent-storage
           mountPath: /data/db 
      volumes: 
        name: mongo-persistent-storage
        persistentVolumeClaim: 
          claimName: mongo-pvc 

        

      
