footer{
    width: 100%;
    margin: 0px;
    padding: 65px 0px 0px;
    float: left;
    clear: both;
    background-image: url(./images/footer_bg.png);
    background-color: #FFFFFF;
    position: relative;
    background-position: center top;
    
}
footer:before {
    content: "";
    position: absolute;
    top: -46px;
    left: 0px;
    width: 100%;
    height: 46px;
    background: url(./images/footer_top_bg.png) center top no-repeat;
    background-size: cover;
}
.container{
    justify-content: space-evenly;
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

footer .side{
    width: 295px;
    padding-bottom: 20px;

}
footer h3.side-title{
    font-weight: 300;
    font-family: 'Josefin Sans';
    padding-bottom: 25px;
    position: relative;
    border-bottom: none;
    text-align: center;
    letter-spacing: 2px;
}
div .side-text{
    font-family: 'Josefin Sans';
    font-weight: 500;
    color: black;
    letter-spacing: 2px;
    word-break: break-all;
    word-spacing: 2px;
    line-height: 27px;
}

footer h3.side-title:after {
    content: "";
    padding: 0px;
    max-width: 275px;
    width: 100%;
    display: inline-block;
    background-image: url(./images/footer_title_bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 14px;
}

footer h3.side-title.red_sketch:after {
    background-color: #f27c7e;
}
footer h3.side-title.yellow_sketch:after {
    background-color:  #fce485;  
}
footer .side ul {
    width: 100%;
    margin: 0px;
    list-style-position: outside;
    padding: 0px;
}
footer .side ul li {
    list-style: none;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    display: block;
    position: relative;
    line-height: 20px;
    padding: 7px 0px 7px 20px;
}
footer .side ul li:before {
    content: "\f00c";
    text-decoration: inherit;
    font-size: 16px;
    position: absolute;
    top: 7px;
    left: 0px;
}

.text{
    font-family: 'Josefin Sans';
    font-weight: 500;
    color: black;
    letter-spacing: 2px;
    word-break: break-all;
    word-spacing: 2px;
    line-height: 27px;
    text-align: center;
}

.copyright {
    clear: both;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 15px 0px 10px;
    background: url(images/footer_strip.jpg) center top repeat-x;
    background-size: auto 5px;
    
    margin: 0px;
    line-height: 35px;
    height: 29px;

}
h5{
    letter-spacing: 2px;
    height: 30px;
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans';
    color: #c36474;
    font-size: 15px;
    font-weight: 300;
}
